@import "tailwindcss";

body {
  margin: 0;
  background: #050505;
  overflow-x: hidden;
}

svg {
  -webkit-user-select: none;
  user-select: none;
}

svg text::selection {
  background: transparent;
}

svg text::-moz-selection {
  background: transparent;
}
